### python의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### 1. 주석(comment)과 출력(print())

In [2]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고싶지 않을때 사용
# 블럭설정 : shift + 방향키

print(1)
# print(2)
print(3)

1
3

In [3]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용

In [4]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [10]:
# print 함수의 옵션
# docstring : 함수에 대한 설명 : 단축키(shift + tab)
# 자동완성 : tab
print(1, 2, sep = ", ", end = "\t")
print(3)

1, 2	3

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [12]:
a = 1 # a를 RAM에 저장
b = 2
a + b # CPU가 +연산을 작동
c = a + b # c를 RAM에 저장
print(c)

3

In [13]:
d, e = 3, 4
f = g = 5

### 3. 식별자
- 변수, 함수, 클래스, 모듈등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, _ 를 사용
    - 가장 앞에 숫자 사용 불가 (ex - (10a = 5)
    - 예약어 사용 불가 : def, class, try, except, ...
    - 컨벤션
        - snake case : fast_campus : 변수, 함수 선언할 때 사용
        - camel case : FastCampus, fastCampus : 클래스를 선언할 때 사용

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적 타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정되는 것
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [15]:
a = 1
b = "python"
print("a의 데이터 타입 : ", type(a))
print("b의 데이터 타입 : ", type(b))

a의 데이터 타입 :  <class 'int'>
b의 데이터 타입 :  <class 'str'>

In [17]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [18]:
a + b

2.2

In [26]:
# 데이터 타입에 함수들이 들어가있다. : 문자
# upper : 대문자로 변환해주는 함수
e = d.upper()

In [28]:
d, e

('data', 'DATA')

In [41]:
f = "   Fast campus"

In [43]:
# lower : 소문자로 변환해주는 함수
f.lower()

'   fast campus'

In [44]:
# strip() : 앞뒤 공백을 제거할 때 사용
f.strip()

'Fast campus'

In [47]:
# replace() : 특정 문자열 치환
f.replace("Fast", "Slow").strip()

'Slow campus'

In [49]:
dir(f)

['__add__', '__class__', '__contains__']

In [57]:
# 오프셋 인덱스
# 문자열은 순서가 있는 문자들의 집합

g = "abcdefg"

In [63]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

### quiz 1.
- numbers = "123456789"에서 97531출력

In [64]:
numbers = "123456789"

numbers[::-1][::2]

'97531'

### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는, 수정이 가능한 데이터 타입
- tuple () : 순서가 있는, 수정이 불가능한 데이터 타입
- dictionary(dict) {} : 순서가 없고 키:값으로 구성되어있는 데이터 타입

In [66]:
# list
ls = [1, 2, 3, "four", [5, 6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [ ]:
### list는 숫서가 있기 때문에 오프셋 사용이 가능
ls[3], ls[1:3], ls[::-1]

In [91]:
# list 함수
ls = [1, 5, 2, 4]

In [92]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [93]:
# sort : 오름차순으로 정렬
ls.sort()
ls[::-1] # 내림차순은 따로 함수가 없어서 오프셋으로 설정을 해주어야한다.

[5, 4, 3, 2, 1]

In [95]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제하는 함수
# 단축키 : ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(4, [1, 2, 3])

In [107]:
# list의 복사
ls1 = [1, 2, 3]
ls2 = ls1 # 얕은 복사 : 주소값 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [108]:
ls1[2] = 5
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [109]:
ls3 = ls1.copy() # 깊은 복사
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [110]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

### Tuple () : 리스트와 같지만 수정이 불가능한 데이터 타입, ()는 생략도 가능
- 튜플은 리스트보다 같은 데이터를 가졌을때 공간을 적게 사용

In [111]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [112]:
# 튜플은 여러개의 변수로 받을 수 있다.
a, b = 1, 2
a, b

(1, 2)

In [114]:
# tuple은 오프셋 사용가능
tp1[1], tp1[::-1]

(2, (3, 2, 1))

### list와 tuple의 저장공간 차이 비교

In [116]:
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print("List 저장공간 : ", sys.getsizeof(ls), "byte")
print("Tuple 저장공간 : ", sys.getsizeof(tp), "byte")

List 저장공간 :  88 byte
Tuple 저장공간 :  72 byte

### dict {}
- 순서가 없고 {키:값}으로 구성되어 있는 데이터 타입
- offset index 사용 불가

In [118]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용
dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2, 3],
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [122]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [123]:
# 수정
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

### quiz 2. 아래의 데이터를 list와 dict로 선언
- 도시 : seoul, busan, daegu
- 인구 : 9,700,000, 3,400,000, 2,400,000

In [127]:
# list
# ls = [["seoul", 9700000], ["busan", 3400000], ["daegu", 2400000]]
# print(ls)
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]
print(city, population)

# dict
dic = {
    "seoul" : 9700000,
    "busan" : 3400000,
    "daegu" : 2400000,
}
print(dic)

['seoul', 'busan', 'daegu'] [9700000, 3400000, 2400000]
{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [128]:
sum(population)

15500000

In [132]:
sum(dic.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [136]:
a = 1
b = "2"
a + int(b)

3

In [137]:
str(a) + b

'12'

In [139]:
list(dic.values())

[9700000, 3400000, 2400000]

### list를 dict로 형변환
- zip함수 사용

In [141]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [143]:
result = dict(list(zip(city, population)))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [145]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

### 6. 연산자
- 연산자들 사이에서도 우선순위가 있다.
- 산술연산자 : +, -, *, /, //, %, **
- 할당연산자 : 변수에 누적시켜서 연산 : +=, -=, //=, **=, ...
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True, False로 출력
- 논리연산자 : True, False를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할때 사용 : not in, in

In [147]:
# 산술연산자
(1 + 4) / 2 ** 2

1.25

In [149]:
# 할당연산자
a = 10
a += 10
a += 10
a

30

In [152]:
# 비교연산자
b = 2
print(a, b)
a < b, a == b, a != b

30 2

(False, False, True)

In [155]:
# 논리연산자
# 우선순위가 같은 경우에는 왼쪽부터 우선순위
True and False, True or False, not (True or False)

(False, True, False)

In [156]:
# 멤버연산자
ls = ["jin", "andy", "jhon"]

In [158]:
"andy" in ls, "anchel" in ls, "jhon" not in ls

(True, False, False)

### random함수

In [164]:
import random

random.randint(1, 10)

4

### 입력함수 : input
- data = input("insert string : ")

### 해결의 책 - 질문을 하면 질문에 대한 답변을 해주는 책

In [ ]:
# 1. 솔루션을 리스트로 작성
# 2. 질문 입력 받음
# 3. 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# 4. index 해당하는 솔루션 리스트의 데이터를 출력

In [167]:
# 1. 솔루션을 리스트로 작성
solutions = [
    "무엇을 하던 잘 안될것이다.",
    "생각지도 않게 좋은 일이 생길것이다.",
    "무엇을 상상하던 그 이상이다."
]

# 2. 질문 입력 받음
input("질문을 입력하세요 : ")

# 3. 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions) - 1)

# 4. index 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요 : 저는 오늘 일찍 갈수 있을까요?

'무엇을 상상하던 그 이상이다.'