### 저번 요약
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 자동완성 : tab
        - dostring : shift + tab
        - 주석 : ctrl + /
        - 셀 생성 : a(위에), b(아래에)
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙 
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자는 숫자 사용불가
        - 예약어 사용불가 : def, class, try, except, ...
        - snake_case(변수, 함수), CamelCase(클래스)
    - 데이터 타입
        - 동적타이핑 : 값에 따라서 저장공간에 데이터 타입이 자동적으로 설정되는 것
        - 기본 데이터 타입(각각의 데이터) : int, float, str, bool
        - 컬렉션 데이터 타입(데이터들의 집합) : list(iterable), tuple(iterable), dict : iterable - 순서가있는 집합
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable한 데이터 타입에서만 사용이 가능 (list, tuple, ...)
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start : end] : start에서 end까지 출력(end는 포함되지 않는다.)
            - [start : end : stride] : stride만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있다.
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip 
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두 개의 리스트를 묶어서 dict 형변환
    - 연산자
        - 산술연산자 : +, -, //, %, **
        - 할당연산자 : +=, -=, //=, ...
        - 비교연산자 : >, <, <=, >=, !=, ==
        - 논리연산자 : and, or, not
        - 멤버연산자 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할떄 사용
- if, else, elif

In [2]:
# 조건부문 : bool 데이터 타입이외의 데이터 타입이 오면 bool으로 형변환 되어 판단
if False:
    print("python")

print("done")

done

In [3]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [4]:
num = 0
if num:
    print("python")
    
num = 1

if num:
    print("python22222")

python22222

In [7]:
number = 7

if number % 2:
    print("Even...")

Even...

In [8]:
# float : 0.0을 제외한 나머지 실수는 True
# string : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

False

- 지갑에 돈이 10000원이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.
- 2000원 이상, 10000원 미만 있으면 버스를 탑니다.

In [15]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")

if money < 10000:
    print("걸어서 집에 갑니다.")

걸어서 집에 갑니다.

In [17]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

In [23]:
money = 5000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")
elif money >= 5000:
    print("광역버스를 타고갑니다.")
elif money >= 2000:
    print("일반버스를 타고갑니다.")
else:
    print("걸어서 집에 갑니다.")

버스를 타고갑니다.

### quiz 1.
- 계좌에 10000원이 들어있다.
- 인출금액을 입력받는다.
- 인출금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다. {}원의 잔액이 부족합니다."를 출력
- 인출금액이 계좌에 있는 금액보다 작으면 "인출되었습니다.{}원이 인출되었습니다."를 출력
- 마지막에 현재 계좌의 잔액을 출력하는 코드를 작성

In [6]:
account = 10000

In [7]:
money = int(input("insert money : "))

if money > account:
    print("인출이 불가능합니다. {}원의 잔액이 부족합니다.".format(money - account))
else:
    account -= money
    print("인출되었습니다. {}원이 인출되었습니다.".format(money))
print("현재 잔액 : " + str(account) + "원")

insert money : 7000
인출되었습니다. 7000원이 인출되었습니다.
현재 잔액 : 3000원

In [10]:
# string 데이터 타입의 format함수
print("현재 잔액은 " + str(account) + "원입니다.")
print("현재 잔액은 {}원입니다. 인출금액은 {}원입니다".format(account, money))
print("현재 잔액은 {data1}원입니다. 인출금액은 {data2}원입니다".format(data2 = money, data1 = account))

현재 잔액은 3000원입니다.
현재 잔액은 3000원입니다. 인출금액은 7000원입니다
현재 잔액은 3000원입니다. 인출금액은 7000원입니다

### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [12]:
# data변수에 0이면 "zero" 출력, 아니면 "not zero"를 출력
data = 1
if data:
    print("not zero")
else:
    print("zero")

not zero

In [16]:
# 삼항연산자로 작성
data = 0
result = print("not zero") if data else print("zero")
result

zero

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

#### while
- while (조건)
- 무한 루프에 빠지지 않게 break를 잘 사용해주어야한다.

In [ ]:
data = 3

while data: # 조건이 False가 될때까지 구문의 코드를 실행한다.
    
    # 반복되는 코드
    print(data)
    data -= 1

### quiz 2.
- 학생이 국어:80, 영어:90, 수학:100
- while문을 이용해서 총점과 평균을 출력
- 학생의 점수는 list나 dict로 표현을해서 작성

In [12]:
data = {"국어" : 80, "영어" : 90, "수학" : 100}

total = 0
average = 0

while data.values():
    
    total += sum(data.values())
    average = (total) / len(data.values())
    
    if average:
        break

print("총점 : ", total)
print("평균 : ", average)

총점 :  270
평균 :  90.0

In [9]:
subject_ls = ["국어", "영어", "수학"]
points_ls = [80, 90, 100]

total, average = 0, 0

In [10]:
datas = points_ls.copy() # 깊은복사

In [16]:
while datas:
    total += datas.pop()
average = total / len(points_ls)
total, average

270

(270, 90.0)

In [17]:
# 무한루프
# break : 반복문을 중단 시킬때 사용되는 예약어

result = 1

while result:
    
    if result >= 10:
        break
    
    result += 1
    
print(result)

10

#### for
- iterable(순서가있는 집합)한 값을 하나씩 꺼내서 value에 대입시킨후 코드를 interable 변수의 값 갯수만큼 실행

```
for <변수> in <iterables>:
    <code>
```

In [27]:
# for : continue : 조건부분으로 올라가서 코드가 실행된다.

ls = [0, 1, 2, 3, 4]

for data in ls:
    
    # 데이터가 홀수가 되면 continue를 실행
    if data % 2:
        continue # 밑으로 가지않고 위의 for로 간다.
            
    # 짝수이면 밑에있는 print()가 실행
    print(data, end = " ")

0 2 4

### for를 이용하여 100번 실행 
- range()

In [29]:
list(range(100))[:3]

result = 0

for data in range(100):
    result += data
    
print(result)

4950

In [33]:
# range
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(0, 10, 2)), list(range(10, 0, -2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8], [10, 8, 6, 4, 2])

In [35]:
# 0~10까지 짝수를 더한 총합
result = 0

for number in range(0, 11, 2):
    result += number
    
result

30

In [36]:
data = {"국어" : 80, "영어" : 90, "수학" : 100}

for key, value in data.items():
    print(key, value)

국어 80
영어 90
수학 100

In [37]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있다.
for subject, point in zip(subject_ls, points_ls):
    print(subject, point)

국어 80
영어 90
수학 100

### quiz 3.
- 구구단 출력 - 가로로 출력

In [54]:
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{}*{}={}".format(num1, num2, num1*num2), end="\t")        
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작한다

In [56]:
# 각각 값에 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []
for data in ls:
    result.append(data ** 2)
result

[0, 1, 4, 9]

In [58]:
# list comprehention
result = [data ** 2 for data in ls]
result

[0, 1, 4, 9]

In [64]:
# list comprehention을 사용해서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산자 사용
ls = [0, 1, 2, 3]
# result = ["짝수", "홀수", "짝수", "홀수"]

result = [
    "홀수" if data % 2 else "짝수"
    for data in ls
]

result

['짝수', '홀수', '짝수', '홀수']

In [65]:
# list comprehention은 필터링 효과가 있다.
# list comprehention 조건문
ls = range(10)

# 홀수만 리스트로 출력
[data for data in ls if data % 2] # 조건문에서 True만 data변수로 넘어간다.

[1, 3, 5, 7, 9]

In [68]:
ls = [1, 2, 3]

# dir(ls) # dir에서 __가없는 것들만 출력
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"] # 조건이 두개이상일때 전부 True인것만 출력

['clear', 'copy', 'count']

### for문 보다 list comprehention이 속도가 더 빠르다

In [69]:
# for문과 list comprehention 성능 비교

In [74]:
%%timeit
ls = []

for num in range(1, 10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.62 ms ± 68.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [75]:
%%timeit
ls = [num for num in range(1, 10001) if num % 3 == 0]

len(ls)

1.27 ms ± 29.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [80]:
# num2 = 1
for num1 in range(2, 10):
    for num2 in range(1, 10):
        print("{}*{}={}".format(num1, num2, num1*num2), end="\t")
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [83]:
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{}*{}={}".format(num1, num2, num1*num2), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [91]:
# list comprehention
ls = [data for data in range(1, 10001) if data % 15 == 0]
ls[:5]

[15, 30, 45, 60, 75]

In [105]:
# 삼항연산자 & list comprehention
ls = ["Even" if data % 2 == 0 else "Odd" for data in range(1, 2001) if data % 9 == 0]
ls[:4]

['Odd', 'Even', 'Odd', 'Even']

In [108]:
dan = int(input("단을 입력하시오 : "))

print("{}단".format(dan))
for num in range(1, 10):
    print("{} * {} = {}".format(dan, num, dan * num))

단을 입력하시오 : 10
10단
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [130]:
star = int(input("별을 입력하시오 : "))
# star = 5
print()

for num in range(1, star+1):
    print("*" * num)

별을 입력하시오 : 3

*
**
***

In [136]:
star = int(input("별을 입력하시오 : "))
# star = 5
print()

for num in range(1, star + 1):
    space = star - num
    print(" " * space, "*" * num)

별을 입력하시오 : 5

     *
    **
   ***
  ****
 *****

In [143]:
star = int(input("별을 입력하시오 : "))
# star = 5
print()

for num in range(1, star + 1):
    
    space = (star - num) / 2
    
    if num % 2:
        print(" " * int(space), "*" * num)

별을 입력하시오 : 9

     *
    ***
   *****
  *******
 *********