### SQLAlchemy
- python 에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할 수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할 수 있다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 된다.
- NoSQL에서는 사용이 불가
- RDBMS에서 사용이 가능
- 설치 : `pip install sqlalchemy`

In [1]:
# 패키지 불러오기
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker # sessionmaker : 객체가 mysql에 연결을 시켜주는 함수

In [7]:
# 데이터 베이스 연결
engine = create_engine("mysql://username:password@public_ip/database_name") 
# username:password@public ip/databasename

In [ ]:
engine

In [9]:
# 테이블 객체 생성을 위한 클래스 작성
Base = declarative_base()

class User(Base): # Base를 상속
    
    __tablename__ = "user" # 테이블 이름
    
    # 컬럼 데이터 작성
    user_id = Column(Integer, primary_key = True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자 함수 작성
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수(출력 함수)
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [10]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [11]:
# 데이터 베이스에 session 연결
Session = sessionmaker(engine) # sessionmaker : 클래스를 리턴한다.
session = Session() # 객체 생성
session # 여기에 연결해서 CRUD 작업들을 한다.

### 1. Insert

In [13]:
user = User("jin", "jin@gmail.com", 27, "2016-03-21")
user

In [14]:
session.add(user) # session 객체에 user 데이터가 저장된다.

In [15]:
# run transaction
session.commit() # 실행하는 순간 데이터 베이스에 저장된다.

In [19]:
# 여러개의 데이터를 insert
users = [
    User("alice", "alice@gmail.com", 25, "2018-02-21"),
    User("andy", "andy@daum.net", 33, "2015-10-21"),
]

In [20]:
# 여러개를 저장하기 위해서 add_all 사용
session.add_all(users)

In [18]:
session.commit()

In [21]:
# rollback : session에 있는 객체를 초기화
# commit 하기전
# rollback을 하면 session.add_all(users)에 저장된 데이터가 초기화가 된다.
session.rollback()

### 2. Select

#### 2-1. 전체 데이터 가져오기(all)

In [23]:
results = session.query(User).all()
list(results) # 객체로 리턴되는것을 알 수 있다.

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gamil.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

#### 2-2. filter
- ==, !=, >, <, <=, >=, like in

In [24]:
results = session.query(User).filter(User.name == "jin")
list(results)

In [25]:
# filter : like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

In [26]:
# filter : in_ # 파이썬에서 예약어이기 때문에 _를 붙여서 사용
results = session.query(User).filter(User.name.in_(["alice", "andy"]))
list(results)

[<User alice, alice@gamil.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

In [27]:
# filter : or_
results = session.query(User).filter(
    or_(User.name == "jin", User.age == 33)
)
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

#### 2-3. order by

In [29]:
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice, alice@gamil.com, 25, 2018-02-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

#### 2-4. count

In [31]:
# 전체 갯수 출력
session.query(User).count()

3

### 3. Update

In [35]:
data = session.query(User).filter(User.name == "jin")
data[0]

In [36]:
data = session.query(User).filter(User.name == "andy").one()
data

In [37]:
# 변경
data.age = 30

In [38]:
session.add(data) # 객체에 저장

In [39]:
session.commit() # 데이터베이스에 저장

### 4. Delete

#### 4-1. delete row

In [40]:
session.query(User).filter(User.name == "jin").delete()

1

In [41]:
session.commit()

#### 4-2. delete table

In [42]:
User.__table__.drop(engine)

## 5. With pandas

In [43]:
import seaborn as sns

In [44]:
import pandas as pd

### 5-1. 데이터 저장하기

In [45]:
iris_df = sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
engine

In [47]:
iris_df.to_sql(name = "iris", con=engine, if_exists="replace")

### 5-2. 데이터 가져오기

In [48]:
# 데이터 베이스 연결
engine = create_engine("mysql://username:password@public_ip/database_name") 
# username:password@public ip/databasename

In [50]:
QUERY = """
    select *
    from city
"""
city_df = pd.read_sql(QUERY, engine) # engine : 접속정보
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020