In [ ]:
## 만들었던 zigbang모듈을 사용

In [1]:
import zigbang as zb

In [2]:
items_df = zb.crawling_apt("망원동")
items_df.tail(2)

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p2
849,18478910,17,저층,37.551253,126.874543,85000,올수리 2월입주 주전도가능,110,33
850,18465017,19,고층,37.544482,126.887827,75000,안양천조망. 수리됨,111,33

## 구글 스프레드 시트에 저장
- oauth 개념
- oauth 인증 파일 생성
    - `https://console.developers.google.com`
    - 프로젝트 생성
    - 라이브러리 탭 선택 : Google Drive API, Google Sheets API 사용 설정
    - oauth 동의 화면
        - 어플리케이션 이름 설정
        - google api 범위 추가 : ../auth/drive, ../auth/spreadsheets
        - 저장
    - 사용자 인증정보
        - OAuth 클라이언트 ID 선택
    - pygsheets 설치
        - `conda install -c marta-sd pygsheets`
        - `pip install pygsheets`
- 스프레드 시트에 크롤링한 데이터 저장 및 로드

In [3]:
import pygsheets

In [4]:
# access token 얻기
gc = pygsheets.authorize(client_secret="client_secret.json", no_cache=True)

In [5]:
# gc 객체에 requests token과 access token이 들어가있다.
gc

In [6]:
# 스프레드 시트 파일 열기
s_file = gc.open("zigbang")

In [7]:
# 붓꽃 데이터 로드
iris_df = sns.load_dataset("iris")
iris_df.tail(1)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica

In [10]:
# iris 시트 만들기
iris_sheet = s_file.add_worksheet("iris2")

In [11]:
# iris 시트 데이터 프레임 저장
iris_sheet.set_dataframe(iris_df, "A1") # A1셀 부터 들어가기위해서

In [12]:
s_file[0], s_file[1]

(<Worksheet 'iris' index:0>, <Worksheet '연남동' index:1>)

In [13]:
# 시트 삭제
s_file.del_worksheet(s_file[0])

#### 직방 데이터를 크롤링 해서 저장

In [ ]:
addrs = ["연남동", "망원동", "합정동", "성수동", "개포동", "비산동"]
for addr in addrs:
    print(addr)
    df = zb.crawling_apt(addr)
    
    # 시트 생성
    sheet = s_file.add_worksheet(addr)
    sheet.set_dataframe(df, "A1", copy_index=False)

In [ ]:
# 데이터 가져오기
sheet = s_file.worksheet_by_title("개포동")
load_df = sheet.get_as_df()
load_df.tail(2)